name: YouTube Monitor

on:
  schedule:
    # Weekdays: 7 PM & 10 PM IST (UTC = IST - 5:30)
    - cron: "30 13 * * 1-5"
    - cron: "30 16 * * 1-5"

    # Weekends: 7 PM IST
    - cron: "30 13 * * 6,0"

  workflow_dispatch:

jobs:
  run-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run YouTube Monitor
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          CHANNEL_IDS: ${{ secrets.CHANNEL_IDS }}
          EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
          EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
          HF_API_KEY: ${{ secrets.HF_API_KEY }}
        run: |
          python run.py
